<h2>Users list</h2>
<a href="/">Back to main page</a>
<div class="search-box">
    <form action="/users/search" method="GET" class="name-form" id="name-form">
        <input type="search" placeholder="Search by name" name="q" id="name-input">
        <input type="submit" value="Search">
    </form>
    <form action="/users/search/" method="GET" class="age-form">
        <select name="start" id="start-select">
            <option selected>Select age from</option>
            {{#each ageRange}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <select name="end" id="end-select">
            <option selected>Select age to</option>
            {{#each ageRange}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <input type="submit" value="Search">
    </form>
</div>
<table class="table table-condensed table-striped table-bordered paginated">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Username</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody id="users-table-rows">
        {{> userstable }}
    </tbody>
</table>
<script src="/javascripts/userSearcher.js"></script>
<script src="/javascripts/paginator.js"></script>