
content {
    display: flex;
    flex-direction: row;
  }

  img {
  margin-bottom: 10px;
  max-width: 250px;
  max-height: 250px;
}

.profile-pic .pic-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}